@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@400;700&family=Roboto+Slab:wght@700&family=Roboto:wght@400;700&display=swap');

body {
    margin: 0px;
    padding: 0px;
}

img {
    max-width: 100%;
    display: block;
}

.justify-between {
    justify-content: space-between;
}
.column {
    background-color: blueviolet;
}
.pw {
    max-width: 650px;
}

.flex-fill {
    flex: 1 0 0;
}

.items-center {
    align-items: center;
}
/* footer margin*/
.fmr {
    margin-right: 90px;

}

.ffmr {
    margin-right: 130px;
}

.container {
    background-color: #31b44e;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 125px;
    padding-right: 125px;
}

.row {
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;

}


main {
    max-width: 1440px;
    margin: 0 auto;
    background-color: aqua;

}

main h1 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 55px;
    padding-left: 125px;
    padding-top: 90px;

  
}

.column p {
    font-weight: 400;
    font-size: 24px;
    font-family: Roboto;
   
}

.footer h2 {
    font-weight: 700;
    font-size: 25px;
    font-family: Roboto;
    
}

.p2 {
    font-weight: 400;
    font-size: 18px;
    font-family: Roboto;
    max-width: 150px;
}

.footer {
    padding-left: 125px;
    padding-bottom: 170px;
    background-color: bisque;
    margin: auto;
    
}

